{% extends 'base.html' %}

{% block title %} Help{% endblock title %} 
{% block body %}



<!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{temp.title}}</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on {{temp.pub_date}}}</div>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Blog Post</a>
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Thanks to watch </a>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="{{temp.image}}" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">{{temp.intro}}</p>
                            
                            <h2 class="fw-bolder mb-4 mt-5">...</h2>
                            <p class="fs-5 mb-4">{{temp.post}}</p>
                        </section>
                    </article>



                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->

      <form action="/comment" method ="post" id="Systemform2" >
     {% csrf_token %}
       <label for="fname">First Name</label>
        <textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!" id="fname" name="comment"></textarea>
     <button type="Submit" class="btn"name="System2" value="{{temp.id}}" form="Systemform2" class="read_more">Save</button>
    </form>


 <h4>My Comments</h4>
                                
                                {% for c in a %}
                                {%if c.user == user.profile.user %}
                                <!-- Comment with nested comments-->
                                <div class="d-flex mb-4">
                                    <!-- Parent comment-->
                                     
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    
                                    <div class="ms-3">
                                    
                                        <div class="fw-bold">{{c.user}}</div>
                                        {{c.post}}
                                    
                                        
                                    </div>
                                    
                                </div>
                                <form action="/delete_comment" method ="post" id="commentform" >
     {% csrf_token %}
    <button type="Submit" name="Comment" value="{{c}}" form="commentform" class="btn">Delete</button>
    </form>
                                {% endif %}
                                {%endfor %}
                                
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                              <h2>Author</h2>

      <img class="proimg" src="{{temp2.image}}" alt="John" style="width:100%">
      <h1>{{temp.username}}</h1>

           <form action="/profile2" method ="post" id="Systemform" >
     {% csrf_token %}
     
     <button type="Submit" name="System" value="{{temp.username}}" form="Systemform" class="btn">See More</button>
     </form>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Web Design</a></li>
                                        <li><a href="#!">HTML</a></li>
                                        <li><a href="#!">Freebies</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">JavaScript</a></li>
                                        <li><a href="#!">CSS</a></li>
                                        <li><a href="#!">Tutorials</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Side Widget</div>
                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock body %}