.title{
	color: rgba(204, 46, 46, 0.705);
}




.img{
    width: 200px; /* width of container */
    height: 200px; /* height of container */
    object-fit: cover;
	border-radius: 0%
	
	
}
.proimg{
	border-radius: 50%;
}
img:hover {
	box-shadow: 0 0 5px 5px rgba(0, 140, 186, 0.5);
  }


  button:hover {
	opacity: 0.7;
	box-shadow: 0 0 5px 5px rgba(0, 140, 186, 0.5);
  }
  
  
  /* Style the footer */
.footer {
	background-color: #f8f9fa;
	padding: 10px;
	text-align: center;
  }

  .column {
	float: left;
	width: 33.33%;
	padding: 15px;
	float:right
  }
  
  /* Clear floats after the columns grid-template-columns: repeat(auto-fit , minmax(10rem,20rem));*/
  .row:after {
	content: "";
	display: table;
	clear: both;
	float:right
  }
  @media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}



.hero-image {
	background: url(https://source.unsplash.com/1200x400) no-repeat   center center #505050;  
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
  }

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
 
.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color:#f8f9fa;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  }
  
  li {
	float: left;
  }
  .w3-content{
	background-color: #f8f9fa;
  }
  li a {
	display: block;
	color: #f8f9fa;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: #111;
  }

  .header {
	padding: 30px;
	font-size: 40px;
	text-align: center;
	background: white;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
	float: left;
	width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
	float: left;
	width: 25%;
	padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
	background-color: #aaa;
	width: 100%;
	padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
	 background-color: white;
	 padding: 20px;
	 margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Footer */
  .footer {
	padding: 20px;
	text-align: center;
	background: #ddd;
	margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
	.leftcolumn, .rightcolumn {   
	  width: 100%;
	  padding: 0;
	}
  }