.title{
	color: rgba(204, 46, 46, 0.705);
}
.blogfull{
	
	margin:0 auto;
	max-width: 1000px;
	display:grid;
	grid-template-columns: repeat(auto-fit , minmax(10rem,30rem));
	justify-content: center;
	gap: 30px;
	font-family: sans-serif;

	
}
.marketfull{
	
	margin:0 auto;
	max-width: 1000px;
	display:grid;
	grid-template-columns: repeat(auto-fit , minmax(10rem,20rem));
	justify-content: center;
	gap: 20px;
	font-family: sans-serif;

	
}
.cropguidefull{
	margin:0 auto;
	max-width: 1000px;
	display:grid;
	grid-template-columns: repeat(auto-fit , minmax(10rem,30rem));
	gap: 30px;
	font-family: sans-serif;


}

.blog{

	border: 1px;
	border-style:inset;
	width: 80%;
 	background-color: white;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	margin-bottom: 25px;
	
}
.read_more{
	border: 0ch;
	background-color:rgb(205, 210, 224);
	

}
.golden{
	background-color: rgb(236, 240, 17)
}
.img{
    width: 200px; /* width of container */
    height: 200px; /* height of container */
    object-fit: cover;
	border-radius: 0%
	
	
}
.proimg{
	border-radius: 50%;
}
img:hover {
	box-shadow: 0 0 5px 5px rgba(0, 140, 186, 0.5);
  }

.leftcolumn {   
	float: left;
	width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
	float: left;
	width: 25%;
	padding-left: 20px;
  }
  .prightcolumn{   
	float: left;
	width: 70%;
  }
  
  /* Right column */
   .pleftcolumn{
	float: left;
	width: 30%;
	padding-left: 20px;
  }
  .card {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
 }
 


 .pcard {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	text-align: center;
	font-family: arial;
  }
  
  .ptitle {
	color: grey;
	font-size: 18px;
  }
  
  .fullbtn {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: rgb(0, 0, 0);
	background-color: rgb(159, 198, 216);
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
  }
  button:hover {
	opacity: 0.7;
	box-shadow: 0 0 5px 5px rgba(0, 140, 186, 0.5);
  }
  
  a {
	text-decoration: none;
	font-size: 22px;
	color: rgb(156, 16, 16);
  }

  .inputcmt[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid red;
	border-radius: 4px;
  }
  input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid red;
	border-radius: 4px;
  }

  .btn {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }
  /* Style the footer */
.footer {
	background-color: #f8f9fa;
	padding: 10px;
	text-align: center;
  }

  .column {
	float: left;
	width: 33.33%;
	padding: 15px;
	float:right
  }
  
  /* Clear floats after the columns grid-template-columns: repeat(auto-fit , minmax(10rem,20rem));*/
  .row:after {
	content: "";
	display: table;
	clear: both;
	float:right
  }
  @media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}



.hero-image {
	background: url(https://source.unsplash.com/1200x400) no-repeat   center center #505050;  
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
  }

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
 
.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color:#f8f9fa;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  }
  
  li {
	float: left;
  }
  .w3-content{
	background-color: #f8f9fa;
  }
  li a {
	display: block;
	color: #f8f9fa;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: #111;
  }

  