{% extends 'base.html' %}
{% block title %} Home{% endblock title %} 
{% block active%}active{% endblock active%}
{% block body %}

<center><a href="/tour_form" class="btn btn-success">Create a new Tour</a></center>
<center><h3 class="text-gray-700 text-2xl font-medium">My Admin Tour</h3></center>
<section class="flex flex-row flex-wrap mx-auto">
    {% for temp in data3 %}
    <!-- Card Component -->
      <div
        class="transition-all duration-150 flex w-full px-4 py-6 md:w-1/2 lg:w-1/3"
      >
    
      
    
    
        <div
          class="flex flex-col items-stretch min-h-full pb-4 mb-6 transition-all duration-150 bg-white rounded-lg shadow-lg hover:shadow-2xl"
        >
          <div class="md:flex-shrink-0">
            <img
              src="{{temp.image}}"
              alt="Blog Cover"
              class="object-fill w-full rounded-lg rounded-b-none md:h-56"
            />
          </div>
          <div class="flex items-center justify-between px-4 py-2 overflow-hidden">
            <span class="text-xs font-medium text-blue-600 uppercase">
              
            </span>
            <div class="flex flex-row items-center">
              <div
                class="text-xs font-medium text-gray-500 flex flex-row items-center mr-2"
              >
                
              
  
              </div>
    
              <div
                class="text-xs font-medium text-gray-500 flex flex-row items-center"
              >
  
              </div>
            </div>
          </div>
          <hr class="border-gray-300" />
          <div class="flex flex-wrap items-center flex-1 px-4 py-1 text-center mx-auto">
            <a href="" class="hover:underline">
              <h2 class="text-2xl font-bold tracking-normal text-gray-800">
               {{temp.title}}
              </h2>
            </a>
          </div>
          <hr class="border-gray-300" />
          <p
            class="flex flex-row flex-wrap w-full px-4 py-2 overflow-hidden text-sm text-justify text-gray-700"
          >
            {{temp.intro}}
            <br>
           {{temp.post}}
           <br>
           {{temp.pub_date}}
          </p>
          <hr class="border-gray-300" />
          <section class="px-4 py-2 mt-2">
            <div class="flex items-center justify-between">
              <div class="flex items-center flex-1">

  
              </div>
              
            </div>
        </section>
    <form action="/tour_details" method ="post" id="Systemform2" class="btn btn-success">
     {% csrf_token %}
     
     <button type="Submit" class="fullbtn"name="System2" value="{{temp.id}}" form="Systemform2" class="read_more">read more</button>
    </form>
    <br>
    <form action="/tour_delete" method ="post" id="Systemform10"class="btn btn-success" >
     {% csrf_token %}
     
     <button type="Submit" class="fullbtn"name="System10" value="{{temp.id}}" form="Systemform10" class="read_more">Delete</button>
    </form><br>
    <a class="btn btn-success"href="{% url 'blog-detail3' temp.id %}">Edit</a>
        </div>
      </div>
    {% endfor %}
    
    </section>
    <br><br>
<center><h3 class="text-gray-700 text-2xl font-medium">My Joined Tour</h3></center>
<section class="flex flex-row flex-wrap mx-auto">
    {% for temp in data %}
    <!-- Card Component -->
      <div
        class="transition-all duration-150 flex w-full px-4 py-6 md:w-1/2 lg:w-1/3"
      >
    
      
    
    
        <div
          class="flex flex-col items-stretch min-h-full pb-4 mb-6 transition-all duration-150 bg-white rounded-lg shadow-lg hover:shadow-2xl"
        >
          <div class="md:flex-shrink-0">
            <img
              src="{{temp.image}}"
              alt="Blog Cover"
              class="object-fill w-full rounded-lg rounded-b-none md:h-56"
            />
          </div>
          <div class="flex items-center justify-between px-4 py-2 overflow-hidden">
            <span class="text-xs font-medium text-blue-600 uppercase">
              
            </span>
            <div class="flex flex-row items-center">
              <div
                class="text-xs font-medium text-gray-500 flex flex-row items-center mr-2"
              >
                
              
  
              </div>
    
              <div
                class="text-xs font-medium text-gray-500 flex flex-row items-center"
              >
  
              </div>
            </div>
          </div>
          <hr class="border-gray-300" />
          <div class="flex flex-wrap items-center flex-1 px-4 py-1 text-center mx-auto">
            <a href="" class="hover:underline">
              <h2 class="text-2xl font-bold tracking-normal text-gray-800">
               {{temp.title}}
              </h2>
            </a>
          </div>
          <hr class="border-gray-300" />
          <p
            class="flex flex-row flex-wrap w-full px-4 py-2 overflow-hidden text-sm text-justify text-gray-700"
          >
          {{temp.title}}
          <br>
           {{temp.post}}
           <br>
           {{temp.pub_date}}

          </p>
          <hr class="border-gray-300" />
          <section class="px-4 py-2 mt-2">
            <div class="flex items-center justify-between">
              <div class="flex items-center flex-1">

                <div class="flex flex-col mx-2">

                  
                </div>
              </div>
              
            </div>
        </section>
    <form action="/tour_details" method ="post" id="Systemform2"  class="btn btn-success">
     {% csrf_token %}
     
     <button type="Submit"name="System2" value="{{temp.id}}" form="Systemform2" class="read_more">read more</button>
    </form><br>
    <br>
    <form action="/tour_leave" method ="post" id="Systemform6"  class="btn btn-success">
     {% csrf_token %}
     
     <button type="Submit" name="System6" value="{{temp.id}}" form="Systemform6" class="read_more">Leave</button>
    </form><br>
        </div>
      </div>
    {% endfor %}
    
    </section>
    <br><br>
<center><h3 class="text-gray-700 text-2xl font-medium">All Tour</h3></center>
<section class="flex flex-row flex-wrap mx-auto">
    {% for temp2 in data2 %}
    <!-- Card Component -->
      <div
        class="transition-all duration-150 flex w-full px-4 py-6 md:w-1/2 lg:w-1/3"
      >
    
      
    
    
        <div
          class="flex flex-col items-stretch min-h-full pb-4 mb-6 transition-all duration-150 bg-white rounded-lg shadow-lg hover:shadow-2xl"
        >
          <div class="md:flex-shrink-0">
            <img
              src="{{temp2.image}}"
              alt="Blog Cover"
              class="object-fill w-full rounded-lg rounded-b-none md:h-56"
            />
          </div>
          <div class="flex items-center justify-between px-4 py-2 overflow-hidden">
            <span class="text-xs font-medium text-blue-600 uppercase">
              
            </span>
            <div class="flex flex-row items-center">
              <div
                class="text-xs font-medium text-gray-500 flex flex-row items-center mr-2"
              >
                
              
  
              </div>
    
              <div
                class="text-xs font-medium text-gray-500 flex flex-row items-center"
              >
  
              </div>
            </div>
          </div>
          <hr class="border-gray-300" />
          <div class="flex flex-wrap items-center flex-1 px-4 py-1 text-center mx-auto">
            <a href="" class="hover:underline">
              <h2 class="text-2xl font-bold tracking-normal text-gray-800">
               {{temp2.title}}
              </h2>
            </a>
          </div>
          <hr class="border-gray-300" />
          <p
            class="flex flex-row flex-wrap w-full px-4 py-2 overflow-hidden text-sm text-justify text-gray-700"
          >
          {{temp2.intro}}
          <br>
           {{temp2.post}}
          </p>
          {{temp.pub_date}}
          <hr class="border-gray-300" />
          <section class="px-4 py-2 mt-2">
            <div class="flex items-center justify-between">
              <div class="flex items-center flex-1">

                <div class="flex flex-col mx-2">
    
                  <span class="mx-1 text-xs text-gray-600"></span>
                </div>
              </div>
              
            </div>
          </section>
                  <form action="/tour_join" method ="post" id="Systemform5"  class="btn btn-success">
     {% csrf_token %}
     
     <button type="Submit"name="System5" value="{{temp2.id}}" form="Systemform5" class="read_more">Join Tour</button>
    </form>
        </div>
      </div>
    {% endfor %}
    
    </section>




{% endblock body %}